{% assign related_posts = site.posts | where_exp: "post", "post.url != page.url" %}
{% assign count = related_posts | size %}
{% assign indexes = "" | split: "" %}

<!-- Create a list of random indexes -->
{% for i in (1..2) %}
  {% assign index = "now" | date: "%N" | modulo: count %}
  {% unless indexes contains index %}
    {% assign indexes = indexes | push: index %}
  {% else %}
    {% assign i = i | minus: 1 %} <!-- If index already included, redo the loop iteration -->
  {% endunless %}
{% endfor %}

<div class="related">
  <h2>{{ site.data.settings.related_posts }}</h2>
  <ul class="related-posts">
    <!-- Output two random posts using the random indexes -->
    {% for index in indexes %}
      {% assign post = related_posts[index] %}
      <li>
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="related-thumbnail">
              {% if post.image %}
                <img src="{{ github.url }}/assets/img/{{ post.image }}" alt="{{ post.title }}">
              {% endif %}
            </div>
            <div class="related-title">
              {{ post.title }}
            </div>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
